<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.juyoung.fitness">

    <application>

        <provider
            android:name=".FitnessContentProvider"
            android:authorities="${applicationId}.provider.fitnessprovider" />

    </application>

</manifest>
